nav>strong{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 3px 2px black;
    position: absolute;
    right: 45%;
    left: 45%;
    top: 3%;
    }
    body {
        background-color: lightgrey;
        color: blue;
      }
div{
    font-size: xx-large;
}
    div>sub{
        position: absolute;
        left: 30%;
        text-transform: capitalize;
    font-size: x-large;
    }
    nav{
    height: 50px;
    width: 100%;
    border: 2PX solid black;
    background-color: aqua;
    }
    div>img{
    position: absolute;
    right: 40%;
    }
    div.alphabet{
        font-size: large;
        position: absolute;
        right: 12%;
        left: 12%;
    }
    div.top{
        height: 30px;
        width: 30px;
        border: 1px solid red;
        border-radius: 10%;
        position: fixed;
        right: 100px;
        top: 200px;
        font-size: large;
        background-color:red ;
    }