nav>strong{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 3px 2px black;
    position: absolute;
    right: 45%;
    left: 45%;
    top: 2%;
    }
    body {
        background-color: lightgrey; 
        color: blue;}
div{
    font-size: xx-large;
}
    div>sub{
        position: absolute;
        left: 20%;
        text-transform: capitalize;
    font-size: x-large;
    }
    nav{
    height: 60px;
    width: 100%;
    border: 2PX solid black;
    background-color: aqua;
    }
    div>img{
    position: absolute;
    right: 40%;
    }
    button{
        border-color: aqua;
        background-color: aqua;
        position: absolute;
        top: 6%;
    }
    *{
        font-family: "Caveat Brush", cursive;
        font-weight: 700px;
        font-style: normal;
    }
    div.alphabet{
        text-decoration-color: blue;
        font-size: large;
        display: flex;
        justify-content:space-evenly;
        align-content: center;
        align-self: center;
    }
    div.top{
        height: 30px;
        width: 30px;
        border: 1px solid aqua;
        border-radius: 10%;
        position: fixed;
        right: 80px;
        top: 150px;
        font-size: large;
        background-color:aqua ;
    }